doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=title
    link#theme(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
    link(href="/stylesheets/jquery.pnotify.default.css", rel="stylesheet")
    link(href="/stylesheets/bootstrap-switch.min.css", rel="stylesheet")
    link(href="/stylesheets/bootstrapValidator.min.css", rel="stylesheet")
    link(href="/stylesheets/bootstrap-slider.min.css", rel="stylesheet")
    link(href="/stylesheets/bootstrap.css", rel="stylesheet")
  body(data-spy="scroll", data-target=".navbar-nav")
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') WAFFLEStats
        .navbar-collapse.nav-collapse.collapse
          block header
          
    #wrapper.goddamn
      block content

    #footer
      .container-fluid
        .text-muted.text-center Donate BTC or Mining Time @ 1Pr87ypYdG8eMTNUXR4rT1q2P1VJ7yu1b5
        .text-muted.text-center
          span Created by Wil Schrader
          span.reverse moc.liamg@
            span.obv ilikebutts
            | redarliw
        .text-muted.text-center
          span MisterWil on Reddit
          span Wil on irc.freenode.net/##wafflepool
    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
    script(src='//code.highcharts.com/highcharts.js')
    script(src='//code.highcharts.com/highcharts-more.js')
    script(src='//code.highcharts.com/modules/exporting.js')
    script(src='/javascripts/plugins/sprintf.min.js')
    script(src='/javascripts/plugins/purl.js')
    script(src='/javascripts/plugins/jquery.pnotify.min.js')
    script(src='/javascripts/plugins/bootstrap-switch.min.js')
    script(src='/javascripts/plugins/bootstrapValidator.min.js')
    script(src='/javascripts/plugins/bootstrap-slider.min.js')
    block scripts