.row
  .col-md-2.text-center.nowrap
    h3 Current Balances
    br
    table.table
      tr.active
        th Unconverted
      tr
        td.nowrap.text-left
          i.fa.fa-btc &nbsp;
          span.unconvertedValue 0.00000000
      tr.active
        th Confirmed
      tr
        td.nowrap.text-left
          i.fa.fa-btc &nbsp;
          span.confirmedValue 0.00000000
      tr.active
        th Unsent
      tr
        td.nowrap.text-left
          i.fa.fa-btc &nbsp;
          span.unsentValue 0.00000000
      tr.active
        th Sent
      tr
        td.nowrap.text-left
          i.fa.fa-btc &nbsp;
          span.sentValue 0.00000000
  .col-md-10.text-center
    .container-fluid
      .row
        .col-sm-12
          h3 Historical Balance
      .row
        .col-sm-12
          .text-left.pull-left
            +visibility("balances", ['confirmed', 'unconverted', 'unsent', 'sent'])
          .text-right.pull-right
            +timeScale("balances")
      .row
        .col-sm-12
          #historicalBalances.graph
.row
  .col-md-2.text-center.nowrap
    h3 Current Hashrate
    h2.well
      span.hashrateValue 0.00
    div#khs.text-right
      h4.text-muted
        abbr(title="kilohashes per second") kH/s
    table.table.pull-right
      tr.text-muted.active
        th Minimum
      tr.text-muted
        td.nowrap.text-left#minimumHR 0 kH/s
      tr.text-muted.active
        th Average
      tr.text-muted
        td.nowrap.text-left#averageHR 0 kH/s
      tr.text-muted.active
        th Maximum
      tr.text-muted
        td.nowrap.text-left#maximumHR 0 kH/s
  .col-md-10.text-center.fixed-fluid
    h3 Historical Hashrate
    .timeScale.text-right
      +timeScale("hashrate")
    #historalHashrate.graph