extends layout

block content
	div#versionOutOfDate Your current version is out of date. Refresh to update.
	
	div#header
		span.title WAFFLES
		span.subtitle tats
		div.status
			span [
			span#status welcome
			span ]
		
	div#content
		div#welcomePage(style="display: none;")
			include welcomePage
		
		div#waffleStats(style="display: none;")
			div#userStats
				include userStats
				
	div#donate Donate BTC @ 1P1pqpsGz6zvoNc6FB1cBxrWQw6mxDGgyh
			
	div#footer
		span Created by Wil Schrader
		span MisterWil on Reddit
		span Wil on irc.freenode.net / ##wafflepool
		span.reverse moc.liamg@
			span.obv ilikebutts
			| redarliw