extends bootstrap

block header
  ul.nav.navbar-nav.navbar-right
    li
      a(href="https://github.com/wschrader/wafflestats")
        i.fa.fa-github.fa-lg
        | &nbsp; WAFFLEStats on Github

block content
  .container-fluid
    .container
      if (error && error.length > 0)
        .alert.alert-danger.alert-dismissable
          button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
          i.fa.fa-frown-o.fa-lg &nbsp;
          strong= error
      if (success && success.length > 0)
        .alert.alert-success.alert-dismissable
          button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
          i.fa.fa-smile-o.fa-lg &nbsp;
          strong= success
      p.introduction
        h1 Welcome to WAFFLEStats
        
      p
        ul
          li Live data pulled directly from Wafflepool every 60 seconds!
          li Historical viewing of hashrate and balances at different resolutions from 1 hour to 1 month old.
          li Stores data locally for historical overview from anywhere at any time.
          li WAFFLES will only update and save data while there is a browser open on your stats page.
          li Mobile friendly website!
      
      br
      
      h4 To get started, just enter the bitcoin address used on Wafflepool and hit go.

    .container
      p.address
        form(role="address", name="stats", action="/stats", method="get")
          .form-inline
            label.sr-only(for="address") Bitcoin Address
            input.form-control(type="text", placeholder="Bitcoin Address", id="address", name="address", size="45")
            button.btn.btn-success(type="submit" value="Go") Go
        
block scripts
  script(src='/javascripts/index.js')