extends layout

block content
	div#idleMessage.dialog(title="Fat-Free Mode" style="display: none;")
		p
			span.ui-icon.ui-icon-info(style="float:left; margin:0 7px 50px 0;")
			| Your WAFFLEStats has gone in to Fat-Free Mode...
			b But don't worry, your stats are still being collected!
		p This mode is to ensure that your browser doesn't run out of memory and become bogged down by the large amount of data that may build up when you aren't viewing your stats.
		p Simply close this dialog to gorge yourself on the full-fat stats.

	div#versionOutOfDate Your current version is out of date. Refresh to update.
	div#error
	div#loading
	
	div#header
		span.title WAFFLES
		span.subtitle tats
		div.status
			span [
			span#status welcome
			span ]
		
	div#content
		div#welcomePage(style="display: none;")
			include welcomePage

		div#waffleStats(style="display: none;")
			div#toolbar
				div#lastUpdated
					span.key Last Updated:&nbsp;
					span#lastUpdatedValue Never
				div#controls
					input(type="submit" id="idleMode" value="Fat-Free Mode")
							
			div#userStats
				include userStats
				
	div#donate Donate BTC @ 1P1pqpsGz6zvoNc6FB1cBxrWQw6mxDGgyh
			
	div#footer
		span Created by Wil Schrader
		span MisterWil on Reddit
		span Wil on irc.freenode.net / ##wafflepool
		span.reverse moc.liamg@
			span.obv ilikebutts
			| redarliw