doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		title= title
		link(href='//netdna.bootstrapcdn.com/bootswatch/3.1.0/simplex/bootstrap.min.css', rel="stylesheet")
		link(href='/stylesheets/jquery.jqplot.css', rel="stylesheet")
		link(href='/stylesheets/style.css', rel="stylesheet")
	body
		.container
			block content
		script(src'/javascripts/sprintf.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
		script(src='//code.highcharts.com/highcharts.js')
		| <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/jqplot/excanvas.js"></script><![endif]-->
		| <script language="javascript" type="text/javascript" src="/javascripts/jqplot/jquery.jqplot.min.js"></script>
		| <script type="text/javascript" src="/javascripts/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
		| <script type="text/javascript" src="/javascripts/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
		| <script type="text/javascript" src="/javascripts/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		| <script type="text/javascript" src="/javascripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
		| <script type="text/javascript" src="/javascripts/jqplot/plugins/jqplot.highlighter.min.js"></script>
		| <script type="text/javascript" src="/javascripts/jqplot/plugins/jqplot.cursor.min.js"></script>
		| <script type="text/javascript" src="/javascripts/jqplot/plugins/jqplot.meterGaugeRenderer.min.js"></script>
		script(src='/javascripts/app.js')