extends bootstrap

block header
  ul.nav.navbar-nav.navbar-right
    li
      a(href="/stats?address=" + address.address)
        i.fa.fa-arrow-left.fa-lg
        | &nbsp; Back to Stats

block content
  .container-fluid
    .container
      h1 Notification Settings
      .container
        h3 Emails
        .container
          if address.emails.length > 0
            table.table
              tr
                th Email
                th.text-center Validated
                th
              each email in address.emails
                tr
                  td= email.masked
                  td.text-center
                    if email.validated
                      i.fa.fa-check.fa-2x
                    else
                      a.btn.btn-primary(href="#") Resend
                  td.text-center
                    a.btn.btn-danger(href="#") Remove
                  
          form(role="addEmail", name="addEmail", action="/notification/addEmail", method="post")
              .form-inline
                label.sr-only(for="email") Email Address
                input.form-control(type="email", placeholder="Email Address", id="email", name="email", size="30")
                button.btn.btn-success(type="submit" value="Add") Add Email
      
      