.row
  .col-md-12
    table.table
      tr
        th.text-center Hashrate
        th.text-center Sent
        th.text-center Confirmed
        th.text-center Unconverted
        th.text-center Unsent
      tr.text-center
        td 
          span#hashrate 0.00
          span &nbsp;kH/s
        td
          i.fa.fa-btc &nbsp;
          span#sent 0.00000000
        td
          i.fa.fa-btc &nbsp;
          span#confirmed 0.00000000
        td
          i.fa.fa-btc &nbsp;
          span#unconverted 0.00000000
        td
          i.fa.fa-btc &nbsp;
          span#unsent 0.00000000
  .col-md-12
    #historicalBalances