body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#versionOutOfDate {
	background-color: rgba(000, 000, 255, 0.4);
	position: fixed;
	width: 100%;
	height: 16px;
	top: 0px;
	left: 0px;
	text-align: center;
	font-weight: bold;
	display: none;
	z-index: 99;
}

#error {
	background-color: rgba(255, 000, 000, 0.4);
	position: fixed;
	width: 100%;
	height: 16px;
	top: 0px;
	left: 0px;
	text-align: center;
	font-weight: bold;
	display: none;
	z-index: 98;
}

#loading {
	background-color: rgba(000, 255, 000, 0.4);
	position: fixed;
	width: 100%;
	height: 16px;
	top: 0px;
	left: 0px;
	text-align: center;
	font-weight: bold;
	display: none;
	z-index: 98;
}

#header {
	position: relative;
	font-size: 25px;
	font-weight: bold;
}

#header .status {
	display: inline;
}

#content {
	padding-top: 35px;
}

#toolbar {
	position: fixed;
	top: 20px;
	right: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 99;
	text-align: right;
}

#controls span {
	padding-left: 10px;
}

#controls .title {
	font-weight: bold;
	font-size: 11px;
}

#controls .ui-button {
    height: 15px;
    font-size: 10px;
    line-height: 6px;
    text-transform: lowercase;
}

.ui-widget-overlay {
	background-image: none !important; /* FF fix */
	background: #000;
	opacity: .7;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
}

#toolbar .key {
	font-weight: bold;
}

#toolbar #controls {
	text-align: right;
}

.balances th {
	text-align: left;
}

.section {
	width: 100%;
}

.section table {
	width: 100%;
	margin-bottom: 20px;
}

.sectionHeader {
	color: #666666;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-bottom: 0.5em;
	font-size: 1.2em;
}

.timeScale {
	margin: 0 auto;
	align: right;
	text-align: right;
	padding-right: 8%;
}

.timeScale div {
	display: inline;
	font-weight: bold;
	font-size: 11px;
	padding-left: 7px;
}

.timeScale .ui-button.ui-widget {
    height: 15px;
}

.timeScale .ui-button.ui-widget .ui-button-text{
    font-size: 10px;
    line-height: 6px;
    text-transform: lowercase;
}

.loading {
    background: url("../images/loading_82x82.gif");
	background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    opacity: .7; /* Some subtle opacity to help blend with variable background colors */
    width: 100%;
    position: relative;
}

#currentHashRate {
	width: 250px;
	text-align: center;
	align: center;
	vertical-align: top;
}

#currentHashRate th {
	text-align: left;
}

#hashRateMeter {
	width: 250px;
	height: 170px;
}

#hashRateValue {
	text-align: center;
	font-weight: bold;
	verticalAlign: bottom;
}

#historicalHashRate {
	text-align: center;
	align: center;
	width: 100%;
}

#hashRateHistoryLoading {
	height: 170px;
	margin-top: -170px;
}

#hashRateGraph {
	width: 85%;
	height: 170px;
	float: center;
	margin: 0 auto;
	align: center;
	text-align: center;
}

#hashRateStats span {
	margin-right: 10px;
}

#hashRateStats .key {
	font-weight: bold;
}

#currentBalances {
	width: 250px;
	text-align: center;
	align: center;
	vertical-align: top;
}

#currentBalances table {
	width: 80%;
	text-align: center;
	align: center;
	float: center;
	margin: 0 auto;
}

#currentBalances th {
	text-align: left;
}

#historicalBalances {
	text-align: center;
	align: center;
}

#balancesHistoryLoading {
	height: 275px;
	margin-top: -275px;
}

#balancesGraph {
	width: 85%;
	height: 275px;
	float: center;
	margin: 0 auto;
	align: center;
}

#donate {
	width: 100%;
	text-align: center;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #fff;
	z-index: 99;
}

#footer span {
	font-size: 10px;
	color: #888;
	margin-right: 20px;
	margin-left: 20px;
}

#footer .reverse {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#footer .obv{
    display:none;
}