p ♥ WAFFLES
p Need to change your notification settings or stop these emails?&nbsp;
  a(href="http://waffles.wilschrader.com/notifications/config/" + hashid) Click here make that happen.
  br
  strong If you really find WAFFLES useful, please donate BTC or mining time to: 1Pr87ypYdG8eMTNUXR4rT1q2P1VJ7yu1b5