div
  include header
  h4 Hash Rate Warning
  
p WAFFLES hates to be the bearer of bad news, but your hash rate doesn't look so great right now.
p
  table
    tr
      th(style="text-align: left;")
        span Last&nbsp;
        span= averageMinutes
        span &nbsp;Minute Average:
      td= averageMinutesHashrate
    tr
      th(style="text-align: left;") Threshold:
      td= threshold

include footer