div
  include header
  h4 Payment Notification
p Just letting you know that you've received a payout from Wafflepool!
p
  table
    tr
      th(style="text-align: left;") Address:
      td= address
    tr
      th(style="text-align: left;") Amount:
      td ฿&nbsp;
        span= amount
    tr
      th(style="text-align: left;") Paid On:
      td= time
    tr
      th(style="text-align: left;") Transaction ID:
      td= txn

include footer