div
  h1 WAFFLEStats
  h4 Payment Notification
p
  | Just letting you know that you've received a payout from Wafflepool!
p
  table
    tr
      th(style="text-align: left;") Address:
      td 1Pr87ypYdG8eMTNUXR4rT1q2P1VJ7yu1b5
    tr
      th(style="text-align: left;") Amount:
      td ฿ 0.00000000
    tr
      th(style="text-align: left;") Detected On:
      td 2014-02-18 10:19:26
    tr
      th(style="text-align: left;") Transaction ID:
      td 443dd5620256f74c860845c0f16a2cb42c69fa6763f35895b4c735b373e04b0e
p
  | ♥ WAFFLES
  
div(style='font-size: 10px;')
  | Don't want to keep getting these emails? &nbsp;
  a(href="http://waffles.wilschrader.com/notifications/unsubscribe/HASHID") Clicky here to stop them!