div
  include header
  h4 Email Removal
  
p WAFFLES is sorry to see you go. But, it's okay, we understand. Things change. People move on.
p To go ahead and remove your email from all WAFFLES related things...
  a(href="http://www.wafflestats.com/notifications/remove/confirm/" + hashid) Click this magic link of destruction!
  
include footer