div
  include header
  h4 Notification Setup
p Hey, pal! Thanks for setting up notifications! Keep this email handy so you can tweak your settings later.
  br
  | But, don't worry, if you lose it you can always just go back to your&nbsp;
  a(href="http://waffles.wilschrader.com/stats?address=" + address) stats page
  |, click notifications, put your email in, and we'll send you another one of these fancy emails.
p Now you can enable, configure, or remove your notifications&nbsp;
      a(href="http://waffles.wilschrader.com/notifications/config/" + hashid) by clicking this link!
p
  | If you don't know what the hell is going on, don't worry, just ignore this and everything will be a-ok. We promise.
  br
  | If you're still worried, just send an email to&nbsp;
  a(href="mailto:wilrader@gmail.com?subject=WTFISGOINGON") this guy
  | &nbsp;and he'll see what's up.

include footer